:root {
    --project-card-img-width: 150px;
}

@media (min-width: 500px) {
    .projectCards {
        display: flex;
        align-items: flex-start;
        margin: 10px;
        padding: 0;
    }

    /* Project Text Wrapper */
    .projectCards .MuiBox-root {
        margin-left: 5px;
    }

    .NonModalWrapper .projectCards {
        max-height: var(--project-card-img-width);
    }
}

@media (max-width: 500px) {
    .projectCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 15px;
        padding: 5px;
    }

    .NonModalWrapper .projectCards {
        max-height: calc(var(--project-card-img-width) * 2);
    }
}

.projectCards .MuiCardMedia-root {
    min-width: var(--project-card-img-width);
    max-width: var(--project-card-img-width);
    min-height: var(--project-card-img-width);
    max-height: var(--project-card-img-width);
}


/* Modal Stylings */

.ProjectModalContainer {
    max-width: 750px;
    width: 85vw;
    padding: 0;
}

.ProjectModalBox {
    margin: 7vh 0;

    max-height: 80vh;
    overflow-y: scroll;
}

.ProjectModalBox .MuiCardActionArea-root {
    cursor: default;
}

.ProjectModalBox .MuiCardActionArea-focusHighlight  {
    visibility: hidden;
}

.ProjectModalBox .projectCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}