@media (min-width: 500px) {
    .projectCards {
        display: flex;
        align-items: flex-start;
        margin: 10px;
        padding: 0;
    }

    .projectCards .MuiBox-root {
        margin-left: 5px;
    }

    .NonModalWrapper .MuiCard-root {
        max-height: 150px;
    }
}

@media (max-width: 500px) {
    .projectCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 15px;
        padding: 5px;
    }

    .NonModalWrapper .MuiCard-root {
        max-height: 250px;
    }
}


/* Modal Stylings */

.ProjectModalContainer {
    max-width: 750px;
    width: 85vw;
    padding: 0;
}

.ProjectModalBox {
    margin: 7vh 0;

    max-height: 80vh;
    overflow-y: scroll;
}

.ProjectModalBox .MuiCardActionArea-root {
    cursor: default;
}

.ProjectModalBox .MuiCardActionArea-focusHighlight  {
    visibility: hidden;
}

.ProjectModalBox .projectCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}