.App {
  padding: 50px;
  height: 80vh;
  font-size: 1.25em;
  font-family: Georgia serif;
  text-rendering: optimizeLegibility;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiButton-root {
  padding-left: 25px;
  padding-right: 25px;
}