.App {
  height: 100vh;
  padding: 25px 50px 50px;

  font-size: 20px;
  font-family: Georgia serif;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  max-width: 750px;
}

.navButton {
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: 600px) {
  .App {
    padding: 15px 10px 10px;
  }

  .contentContainer p br {
    display: none;
  }

  .navButton {
    padding-right: 10px;
    padding-left: 10px;
  }
}